.wire_transfer:before {
  top: -7px;
  left: -9px;
  content: "Y";
}
.bank_card:before {
  top: -6px;
  left: -9px;
  content: "X";
}
.cash:before {
  top: -7px;
  left: -9px;
  content: "Z";
}
.other:before {
  top: -7px;
  left: -9px;
  content: "W";
}

